header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #ece0e0; 
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    color: blue;
}

body {
    padding-top: 70px;
}

.logo img { 
    height: 50px; 
}

nav {
    width: 100%;
}

nav ul { 
    list-style: none; 
    display: flex;
    justify-content: flex-end; 
    align-content: space-between;
    gap: 100px;
    margin: 0; 
    padding: 0;
}

nav ul li { 
    display: inline;
}
nav ul li a { 
    text-decoration: none; 
    color: rgb(28, 37, 88); 
    font-size: 18px; 
    transition: color 0.3s ease;
    transform: 0.2s ease;
}
nav ul li a:hover { 
    color: #f4a261;
    transform: scale(1.1);
 }